<h1>Rank Geral</h1>

<table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--10-col">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Valor Total R$</th>
        <th>Litros Total</th>
      </tr>
    </thead>
  
    <tbody>
      <% @consumos_rank.each do |consumo| %>
        <tr>
          <td><%= consumo['nome'] %></td>
          <td><%= consumo['valor_total'] %></td>
          <td><%= consumo['litros_total'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
