<h2>Cadastro de Usuário</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"mdl-textfield__input" %>
      <%= f.label :email, class:"mdl-textfield__label" %>
  </div>
  <br/>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.password_field :password, autocomplete: "current-password", class:"mdl-textfield__input" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.label :password, class:"mdl-textfield__label" %>
  </div>
  <br/>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"mdl-textfield__input" %>
    <%= f.label :password_confirmation, class:"mdl-textfield__label" %>
  </div>

  <div class="actions">
    <%= f.submit "Cadastrar", class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored"%>
  </div>
<% end %>
<hr/>

<%= render "devise/shared/links" %>
