<%= form_with(model: veiculo, local: true) do |form| %>
  <% if veiculo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(veiculo.errors.count, "error") %> prohibited this veiculo from being saved:</h2>

      <ul>
      <% veiculo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= form.text_field :modelo , class:"mdl-textfield__input"%>
    <%= form.label :modelo , class:"mdl-textfield__label" %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= form.text_field :placa, class:"mdl-textfield__input" %>
    <%= form.label :placa, class:"mdl-textfield__label" %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= form.number_field :ano, class:"mdl-textfield__input" %>
    <%= form.label :ano, class:"mdl-textfield__label" %>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar', class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  </div>
<% end %>
