<h4>Editar Veiculo</h4>

<%= render 'form', veiculo: @veiculo %>
<hr/>
<%= link_to 'Show', @veiculo, class:"mdl-button mdl-js-button mdl-button--accent" %> 
<%= link_to 'Back', veiculos_path, class:"mdl-button mdl-js-button mdl-button--primary" %>
