<p id="notice"><%= notice %></p>

<h4>Veículos</h4>

<table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--10-col">
  <thead>
    <tr>
      <th class="">ID</th>
      <th class="">Modelo</th>
      <th class="">Placa</th>
      <th class="mdl-data-table__header--sorted-descending">Ano</th>
      <th colspan=""></th>
    </tr>
  </thead>

  <tbody>
    <% @veiculos.each do |veiculo| %>
      <tr>
        <td><%= link_to veiculo.id, veiculo %></td>
        <td><%= veiculo.modelo %></td>
        <td><%= veiculo.placa %></td>
        <td><%= veiculo.ano %></td>
        <td><%= link_to '<i class="material-icons">edit</i>'.html_safe, edit_veiculo_path(veiculo), class:"mdl-button mdl-js-button mdl-button--accent mdl-button--icon" %>
        <%= link_to '<i class="material-icons">delete_forever</i>'.html_safe, veiculo, method: :delete, data: { confirm: 'Are you sure?' }, class:"mdl-button mdl-js-button mdl-button--icon" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Veiculo', new_veiculo_path, class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
