<p id="notice"><%= notice %></p>

<p>
  <strong>Modelo:</strong>
  <%= @veiculo.modelo %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @veiculo.placa %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @veiculo.ano %>
</p>

<p>
  <strong>Média de Consumo:</strong>
  <%= @veiculo.consumo_medio%>
</p>  

<p>
  <strong>Total Consumido:</strong>
  <%= @veiculo.consumo_total%>
</p>

<hr/>
<%= link_to 'Editar', edit_veiculo_path(@veiculo), class:"mdl-button mdl-js-button mdl-button--accent" %>
<%= link_to 'Voltar', veiculos_path, class:"mdl-button mdl-js-button mdl-button--primary" %>
