<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"mdl-textfield__input" %>
    <%= f.label :email, class:"mdl-textfield__label" %>
  </div>
  <br/>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.password_field :password, autocomplete: "current-password", class:"mdl-textfield__input" %>
    <%= f.label :password, class:"mdl-textfield__label" %>
  </div>

  <!-- <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%> -->

  <div class="actions">
    <%= f.submit "Entrar", class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  </div>
<% end %>

<!-- <%= render "devise/shared/links" %> -->
