<%= form_with(model: consumo, local: true) do |form| %>
  <% if consumo.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% consumo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mdl-cell mdl-cell--3-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= form.date_field :data_abastecimento, class:"mdl-textfield__input" %>
    <%= form.label :data_abastecimento, class:"mdl-textfield__label"  %>
  </div>

  <div class="mdl-cell mdl-cell--2-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= form.text_field :valor, class:"mdl-textfield__input" %>
    <%= form.label :valor, class:"mdl-textfield__label"  %>
  </div>

  <div class="mdl-cell mdl-cell--2-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= form.text_field :quantidade_litros, class:"mdl-textfield__input" %>
    <%= form.label "Litros", class:"mdl-textfield__label"  %>
  </div>

  <div class="mdl-cell mdl-cell--2-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= form.collection_select :veiculo_id, veiculos_disponiveis(), :id, :placa, class:"mdl-textfield__input"%>
    <!-- <%= form.text_field :veiculo_id, class:"mdl-textfield__input"  %> -->
  </div>
  <div class="mdl-cell mdl-cell--2-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="margin: -30px; padding-left: 26px;">
    <%= form.submit "Salvar", class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored"  %>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    $("#consumo_valor").focus();
  });
</script>