<p id="notice"><%= notice %></p>

<h4>Consumos</h4>
<%= render 'form', consumo: @consumo %>

<div style="overflow: scroll; height: 350px; overflow-x: hidden;">
  <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--10-col">
    <thead>
      <tr>
        <th>Data abastecimento</th>
        <th>Valor R$</th>
        <th>Litros</th>
        <th>Veiculo</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% @consumos.each do |consumo| %>
        <tr>
          <td><%= consumo.data_abastecimento.strftime("%d/%m/%Y") %></td>
          <td><%= consumo.valor %></td>
          <td><%= consumo.quantidade_litros %></td>
          <td><%= link_to consumo.veiculo, veiculo_path(consumo.veiculo) %></td>
          <td><%= link_to '<i class="material-icons">edit</i>'.html_safe, edit_consumo_path(consumo), class:"mdl-button mdl-js-button mdl-button--accent mdl-button--icon" %>
          <%= link_to '<i class="material-icons">delete_forever</i>'.html_safe, consumo, method: :delete, data: { confirm: 'Are you sure?' }, class:"mdl-button mdl-js-button mdl-button--icon" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>