<p id="notice"><%= notice %></p>

<p>
  <strong>Data abastecimento:</strong>
  <%= @consumo.data_abastecimento %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @consumo.valor %>
</p>

<p>
  <strong>Quantidade litros:</strong>
  <%= @consumo.quantidade_litros %>
</p>

<p>
  <strong>Veiculo:</strong>
  <%= @consumo.veiculo %>
</p>

<%= link_to 'Edit', edit_consumo_path(@consumo) %> |
<%= link_to 'Back', consumos_path %>
