<%= nested_form_for(funcionario) do |form| %>
  <% if funcionario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(funcionario.errors.count, "error") %> prohibited this funcionario from being saved:</h2>

      <ul>
      <% funcionario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= form.text_field :nome, class:"mdl-textfield__input" %>
    <%= form.label :nome, class:"mdl-textfield__label" %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= form.collection_select :veiculo_id, Veiculo.all, :id, :placa, class:"mdl-textfield__input"%>
    <%= form.label :veiculo_id, class:"mdl-textfield__label" %>
  </div>

  <br/>

  <%= form.fields_for :user do |user_form| %>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= user_form.email_field :email, class:"mdl-textfield__input"%>
      <%= user_form.label :email, class:"mdl-textfield__label" %>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= user_form.password_field :password, class:"mdl-textfield__input"%>
      <%= user_form.label :password, class:"mdl-textfield__label" %>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= user_form.password_field :password_confirmation, class:"mdl-textfield__input"%>
      <%= user_form.label :password_confirmation, class:"mdl-textfield__label" %>
    </div>

    <%= user_form.hidden_field :kind, :value => User.kinds[:funcionario]%>
  <%end%>


  <div class="actions">
    <%= form.submit 'Salvar', class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored"%>
  </div>
<% end %>
