<h4>Editando Funcionario</h4>

<%= render 'form', funcionario: @funcionario %>

<hr/>
<%= link_to 'Show', @funcionario, class:"mdl-button mdl-js-button mdl-button--accent" %> 
<%= link_to 'Back', funcionarios_path, class:"mdl-button mdl-js-button mdl-button--primary"  %>
