<p id="notice"><%= notice %></p>

<h4>Funcionários</h4>

<table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--10-col">
  <thead>
    <tr>
      <th>ID</th>
      <th>Veiculo</th>
      <th>Nome</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @funcionarios.each do |funcionario| %>
      <tr>
        <td><%= link_to funcionario.id, funcionario %></td>
        <td><%= funcionario.veiculo %></td>
        <td><%= funcionario.nome %></td>
        <td><%= link_to '<i class="material-icons">edit</i>'.html_safe, edit_funcionario_path(funcionario), class:"mdl-button mdl-js-button mdl-button--accent mdl-button--icon" %>
        <%= link_to '<i class="material-icons">delete_forever</i>'.html_safe, funcionario, method: :delete, data: { confirm: 'Are you sure?' }, class:"mdl-button mdl-js-button mdl-button--icon" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Funcionário', new_funcionario_path, class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
