<p id="notice"><%= notice %></p>


<p>
  <strong>Motorista:</strong>
  <%= @funcionario.nome %>
</p>

<p>
  <strong>Veiculo:</strong>
  <%= @funcionario.veiculo %>
</p>

<p>
  <strong>Último Consumo:</strong>
  <%= @funcionario.veiculo.consumos.last %>
</p>

<p>
  <strong>Média de Consumo:</strong>
  <%= @funcionario.veiculo.consumo_medio %>
</p>

<hr/>
<%= link_to 'Editar', edit_funcionario_path(@funcionario), class:"mdl-button mdl-js-button mdl-button--accent" %> 
<%= link_to 'Voltar', funcionarios_path, class:"mdl-button mdl-js-button mdl-button--primary" %>
