<div class="demo-card-image mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
    <% if current_user %>
    <span class="demo-card-image__filename">
      <%= current_user.email%></span>
    <% else %>
    <span class="demo-card-image__filename">
      <%= link_to "Entrar", new_user_session_path,  class:"mdl-layout-title" %> </span>
    <% end %>
  </div>
</div>