<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">CathEx</span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <% if current_user %>
      <a class="mdl-navigation__link" href="">Olá,
        <%= current_user.email%></a>
        <%= link_to  "Sair", destroy_user_session_path, method: :delete, class:"mdl-navigation__link" %>
      <%else%>
        <%= link_to "Entrar", new_user_session_path,  class:"mdl-navigation__link" %>
      <% end %>
    </nav>
  </div>
</header>