<main class="mdl-layout__content">
  <div class="page-content">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--2-col mdl-cell--6-col-tablet"></div>
      <div class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet">
        <p class="alert">
          <%= alert %>
        </p>
        <%= yield %>
      </div>
      <div class="mdl-cell mdl-cell--0-col mdl-cell--4-col-phone"></div>
    </div>
  </div>
</main>