<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <%= render 'layouts/header' %>
  <div class="mdl-layout__drawer">
    <%= render 'layouts/card_menu' %>
    <%= render 'layouts/sub_menus' %>
  </div>
  <%= render 'layouts/main' %>
</div>