<!-- <span class="mdl-layout-title">Opções</span> -->
<nav class="mdl-navigation">
  <%=link_to "Rank", dashboard_index_path, class:"mdl-navigation__link"%>
  <% if policy(User).logado? %>  
    <% if policy(User).veiculo? %>
      <%=link_to "Veículos", veiculos_path, class:"mdl-navigation__link"%>
    <% end %>
    <% if policy(User).funcionario? %>
      <%=link_to "Funcionários", funcionarios_path, class:"mdl-navigation__link"%>
    <% end %>
    <%=link_to "Consumos", consumos_path, class:"mdl-navigation__link"%>
  <% end %>
</nav>